other
*.txt
rx.json*
spots.json
__pycache__
*.pyc
bin/*
tests/*
test.py
*~
EN.dat
traffic.dot
old/*
sync.sh
reverse_sync.sh
inject.sh
start_*.sh
rx.sh
tx.sh
arrl.cty
homer.sh
local.sh
*.dbm
keep
traffic.jpg
call_data/*
mine/*
*.orig
track.sh

